parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$attributes of method Illuminate\\Database\\Eloquent\\Relations\\HasOneOrMany\<Illuminate\\Database\\Eloquent\\Model,Illuminate\\Database\\Eloquent\\Model,Illuminate\\Database\\Eloquent\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\>\>\:\:create\(\) expects array\<model property of Illuminate\\Database\\Eloquent\\Model, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Models/License.php

		-
			message: '#^Parameter \#1 \$attributes of static method Illuminate\\Database\\Eloquent\\Builder\<LucaLongo\\Licensing\\Models\\License\>\:\:create\(\) expects array\<model property of LucaLongo\\Licensing\\Models\\License, mixed\>, array given\.$#'
			identifier: argument.type
			count: 2
			path: src/Models/License.php
